.my-prifile{
    height: 60px;
    background-color: rgb(157, 162, 167);
    border-right: 2px solid grey;
}

.who-chatting{
    height: 60px;
    background-color: rgb(157, 162, 167);
}

.my-img-profilo{
    height: 100%;
}

.my-img-profilo img{
    height: 100%;
    border-radius: 50%;
    padding: 5%;
}

.chatting-friend{
    height: 100%;
    width: 60%;
}

.chatting-friend img{
    height: 100%;
    border-radius: 50%;
    padding: 5px;
}


.my-borderR{
    border-radius: 50%;
}

.notifiche{
    height: 70px;
    background-color: aquamarine;
}

#container-input-search{
    width: 90%;
}

#icon-container-search-chat{
    width: 10%;
}

.input-search{
    width: 100%;
}

.icon-search-chat{
    width: 10%;
    font-size: 20px;
    padding-left: 5px;
}


.scheda-contatto{
    height: 60px;
}

.scheda-img-container{
    width: 90%;
}

.time-container{
    width: 10%;
}