
#app{
    min-width: 1000px;
}

.my-prifile{
    height: 60px;
    background-color: rgb(157, 162, 167);
    border-right: 2px solid grey;
}

.who-chatting{
    height: 60px;
    background-color: rgb(157, 162, 167);
}

.my-img-profilo{
    height: 100%;
}

.my-img-profilo img{
    height: 100%;
    border-radius: 50%;
    padding: 5%;
}

.chatting-friend{
    height: 100%;
    width: 60%;
}

.chatting-friend img{
    height: 100%;
    border-radius: 50%;
    padding: 5px;
}


.my-borderR{
    border-radius: 50%;
}

.notifiche{
    height: 70px;
    background-color: aquamarine;
}

#container-input-search{
    width: 90%;
}

#icon-container-search-chat{
    width: 10%;
}

.input-search{
    width: 100%;
}

.icon-search-chat{
    width: 10%;
    font-size: 20px;
    padding-left: 5px;
}


.scheda-contatto{
    height: 80px;
}

.scheda-img-container{
    width: 90%;
}

.time-container{
    width: 10%;
}

.contacts-bar{
    overflow-y: scroll;
    height: 550px;
}
.left-bar{
    height: 650px;
    background-color: antiquewhite;
}


.chat-container{
    height: 600px;
}

.bg-container{
    background-image: url("img/mine.jpg");
    width: 100%;
    height: 100%;
    
}

.writing-container{
    height: 50px;
    background-color: burlywood;
}

.smile{
    width: 100%;
}

.active{
    background-color: lightgrey;
}

.message.sent{
 background-color: lightgreen;
 align-self: flex-end;
}

.message.recived{
    background-color: white;
    align-self: flex-start;
}

.ciccio{
    width: 100%;
}

.pallino{
    height: 650px;
}

.no-message{
    background-color: rgb(153, 150, 150);
    color: white;
    align-self: center;
}